<div class="row justify-content-center">
    <ng-container *ngIf="tableOfPrizes">

        <h1 class="col-12"><span jhiTranslate="TableOfPrizesApp.tableOfPrizes.detail.title">Table Of Prizes</span> {{ tableOfPrizes.name }}</h1>

        <ng-container *ngFor="let prize of tableOfPrizes.prizes">
            <div *ngFor="let item of [].constructor(prize.quantity); let i = index"
                class="card m-4 px-4 pt-4 col-11 col-sm-5 shadow-lg" style="border: 2px solid">
                <img class="card-img-top" [src]="prize.image?.url">
                <div class="card-body">
                    <h4 class="card-title">{{ prize.image?.name }} - #{{ i + 1 }}</h4>
                </div>
            </div>
        </ng-container>

        <div class="col-12">
            <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
        
    </ng-container>
</div>
