<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tableOfPrizes">
            <h2><span jhiTranslate="TableOfPrizesApp.tableOfPrizes.detail.title">Table Of Prizes</span> {{ tableOfPrizes.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="TableOfPrizesApp.tableOfPrizes.name">Name</span></dt>
                <dd>
                    <span>{{ tableOfPrizes.name }}</span>
                </dd>

                <dt><span jhiTranslate="TableOfPrizesApp.tableOfPrizes.contents">Contents</span></dt>
                <dd>
                    <table>
                        <tr *ngFor="let prize of tableOfPrizes.prizes">
                            <td>{{ prize.quantity }}x</td>
                            <td>{{ prize.image?.name }}</td>
                            <td><img class="thumbnail" [src]="prize.image?.url"></td>
                        </tr>
                    </table>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/table-of-prizes', tableOfPrizes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
