<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tableOfPrizes">
            <h2><span jhiTranslate="tableOfPrizesApp.tableOfPrizes.detail.title">Table Of Prizes</span> {{ tableOfPrizes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tableOfPrizesApp.tableOfPrizes.name">Name</span></dt>
                <dd>
                    <span>{{ tableOfPrizes.name }}</span>
                </dd>
                <dt><span jhiTranslate="tableOfPrizesApp.tableOfPrizes.user">User</span></dt>
                <dd>
                    {{ tableOfPrizes.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/table-of-prizes', tableOfPrizes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
