<div class="row">
    <div class="col-md-3">
        <span class="tableofprizes img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">title</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="false">
                <p class="lead" jhiTranslate="home.notlogged.welcome">This is the homepage of tableofprizes.com. With this site you can:</p>
                <ol>
                    <li><div jhiTranslate="home.notlogged.option1">Create a virtual table of prizes, if you are organising an online bridge drive, Kahoot etcetera</div></li>
                    <li><div jhiTranslate="home.notlogged.option2">Select a prize, if you are a winner of such event</div></li>
                </ol>
        
                <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">In both cases you have to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                    <span jhiTranslate="global.messages.info.authenticated.suffix"> to continue.<br/></span>
                </div>
                <div *ngIf="tablesOfPrizes">
                    <span jhiTranslate="home.notlogged.option3">You can also view a few recent tables of prizes:</span>
                    <ul>
                        <li *ngFor="let tableOfPrizes of tablesOfPrizes">
                            <div><a [routerLink]="['/table-of-prizes/preview']" [state]="{ tableOfPrizes: tableOfPrizes }">{{ tableOfPrizes.name }}</a></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div  *ngSwitchCase="true">
                <div class="alert alert-success">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.confirm"
                        [translateValues]="{ username: account.email }">You are logged in as user "{{ account.email }}".</span>
                </div>
                <div>
                    <span jhiTranslate="home.logged.goto">Go to </span>
                    <a jhiTranslate="global.menu.entities.image" routerLink="/image">Images</a>.
                </div>
                <div>
                    <span jhiTranslate="home.logged.goto">Go to </span>
                    <a jhiTranslate="global.menu.entities.tableOfPrizes" routerLink="/table-of-prizes">Tables of Prizes</a>.
                </div>
            </div>
        </div>
    </div>
</div>
